.x-a-text{
	text-align: center;
	text-decoration: none;
	overflow: hidden;
	background-color:transparent;
	color: #fff;
	cursor: pointer;
}

.x-a-text:hover{
	text-decoration: none;
	background-color:#40aa40;
	background-color:transparent;
	color: #fff;
}
